@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

@media (min-width: 1024px) {

  /* This corresponds to the 'lg:' breakpoint */
  .main-content {
    padding-left: 307px;
  }
}

* {
  -webkit-appearance: none;
  /* За Safari и Chrome */
  -moz-appearance: none;
  /* За Firefox */
}